/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: 1a2325;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;    
}

.dobot_logo {
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: f8695a;
    line-height: 95px;
    color: white;
    font-size: 30;
    font-family: Impact;
    font-weight: 100;
}

.product_heading {
    color: white;
    font-size: 40px;
    font-family: Quatro Slab;
    font-weight: 100; 
    padding-top: 55px;              
}

.product_subheading {
    color: #555a5b;
    font-size: 25px;
    font-family: LFT Etica;
    font-weight: 100; 
    line-height: 2;
}

.product_img {
    width: 515px;     
}

.product_description {
    color: #abadad;
    width: 515px;
    font-size: 25px;
    font-family: LFT Etica;
    font-weight: 100;
    line-height: 1.5;
    padding:  20px 0px 20px 0px;
}

a {
    text-decoration: none;
}

.product_link a{
    display: block;      
    color: #01ccce;
    font-size: 25px;
    font-family: LFT Etica;
    font-weight: 100;
    width: 320px;
    margin: 0px 0px 20px 0px;
}

.product_link {
    display: block;      
    border-bottom: 2px dotted white;
    padding: 10px 0px 20px 0px;
    margin: 0px 0px 20px 0px;
}

.product_price {
    color: white; 
    font-size: 30px;
    font-family: Quatro Slab;
    font-weight: 100;
}
/*
.product_button {
    background-color: #01ccce;
    color: white;
    font-size: 25px;
    font-family: LFT Etica;            
}
*/
input[type="button"] { 
    text-decoration: none;
    background-color: #01ccce;
    margin-left: 20px;
    border: 0px;
    padding: 12px 25px 12px 25px;
    color: white;
    font-size: 23px;
    font-family: LFT Etica;
    cursor: pointer;
}

.product_divider {
    margin-top: 155px;
    margin-bottom: -40;
    border-bottom: 1px solid white;
}
