/* CSS for dobot site */
/* Font-family options: LFT_Etica_Book.otf, LFT_Etica_Reg.otf, LFT_Etica_Semibold.otf, QuatroSlab_Regular.otf */
/* Order: heading, dimensions, image, long description, link, etc. */
/* No frameworks, ie. Bootstrap, etc. */
/*****************************************************************/
* {
                    background-color:#1a2325;
}
.large_white_heading {
                    font-family:quatro slab;
			        font-weight:lighter;
			        font-size:30pt;
			        color: white;
}
.medium_white_content {
                    font-family:quatro slab;
				    font-weight:lighter;
				    font-size:20pt;
				    color:white;
					padding: 3px 20px;
}
.small_dgray_content {
                    font-family:LFT Etica;
					font-weight:lighter;
					font-size:20pt;
					color:#555a5b;
}
.small_lgray_content {
                    font-family:LFT Etica; 
				    font-weight:lighter;
					font-size:20px;
                    letter-spacing:2px;
                    line-height:35px;                        
                    color:#abadad; 	 
} 
.small_aqua_content {
                    font-family:LFT Etica;
				    font-weight:lighter;
					font-size:20pt;
					color:#01bfc1;
}
.dot_divider {
			        color:white;
			        size:1;
                    border-style: none none dotted;
}  
.line_divider { /*can't get this to produce hairline divider*/
			        size:0.5;
			        color:white;
}